@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');

body {
    margin: 0;
    background-color: rgb(50,50,50);
    text-align: center;
    font-family: 'Montserrat', serif;
    color: white;
    font-size: 1.5em;
}
input[type='radio'] {
    margin-top: 20px;
}
input[type='text'] {
    padding: 5px;
    font-size: 20px;
    font-family: 'Montserrat', serif;
}
.grid-container {
    display: grid;
    grid-gap: 0px;
    grid-template-areas:
    'question multimedia multimedia'
    'answer multimedia multimedia'
    'next next next';
    grid-template-columns: 33% 34% 33%;
    grid-template-rows: 40% 40% 20%;
    min-height: 100vh;
}
.grid-item {
    padding: 40px;
    background-color: rgb(50,50,50);
}

#question {
    grid-area: question;
    background-color: rgb(130,130,130);
}
#multimedia {
    grid-area: multimedia;
}
#answer {
    grid-area: answer;
    background-color: rgb(110,110,110);
}
#next {
    grid-area: next;
    background-color: rgb(70,70,70);
}
.image {
    max-height: 100%;
    max-width: 100%;
}

input[type='button'], input[type=''] {
    outline: 0;
    border: 2px solid white;
    color: white;
    background-color: rgb(25,25,25);
    font-size: 26px;
    padding: 15px;
    transition: 0.25s;
}

input[type='button']:hover {
    background-color: white;
    color: rgb(50,50,50);
    cursor: pointer;
}
