@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
    background-color: rgb(25,25,25);
    color: white;
    font-family: 'Roboto', serif;
    font-size: 1.4em;
}
h1 {
    font-size: 1.3em;
}

#graphics {
    border: 4px solid #4286f4;
    float: left;
}
#input {
    float: left;
}
#grid {
    float: left;
    text-align: center;
    margin-right: 40px;
}
input[type='button'], input[type='text'],select {
    outline: 0;
    border: 4px solid #4286f4;
    background-color: white;;
    color: rgb(25,25,25);
    font-family: 'Roboto', serif;
    font-size: 20px;
    transition: 0.25s;
    /*border-radius: 10px;*/
}
input[type='text'] {
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    width: 65px;
    height: 45px;
}
input[type='button']:hover {
    background-color: #4286f4;
    color: white;
    border: 4px solid white;
    cursor: pointer;
}
