@import url('https://fonts.googleapis.com/css?family=Major+Mono+Display');
body {
    text-align: center;
    background-color: green;
    color: white;
    font-family: 'Major Mono Display', sans-serif;
}
#jackpot {
    margin-top: 12vh;
    font-size: 3em;
}
#spin {
    position: absolute;
    top: 55%;
    left: 50%;
    width: 100px;
    height: 50px;
    padding-top: 25px;
    background-color: darkgreen;
    transform: translateX(-50%);
    font-size: 1.5em;
    transition: 0.15s;
    user-select: none;
}
#spin:hover {
    background-color: rgb(0, 168, 0);
    cursor: pointer;
}
#statistikk {
    margin-top: 20vh;
}
#tittel {
    margin-top: 20vh;
    font-size: 4em;
}
@media (max-width: 550px) {
    #jackpot {
        font-size: 2em;
    }
}
