body {
    margin: 2%;
}

#wrapper {
    width: 700px;
}

#image {
    width: 700px;
    height: 400px;
    background-image: url('../images/sleep.jpg');
    background-size: fit;
    background-repeat: no-repeat;
    transition: 0.25s;
}

#nrg {
    width: 700px;
    height: 50px;
    background-color: darkcyan;
    text-align: center;
    color: white;
    font-size: 2em;
    font-family: 'Trebuchet MS', sans-serif;
    line-height: 45px;
}

h1 {
    font-family: 'Trebuchet MS', sans-serif;
}
