@import url('https://fonts.googleapis.com/css?family=Montserrat');
body {
    font-family: 'Monterrat', serif;
    padding: 0 20% 0 20%;
    background-color: rgb(100,100,100);
}
.name {
    background-color: rgb(225,225,225);
    height: 25px;
    font-family: 'Montserrat', serif;
    margin: 2px 0 2px 0;
    font-size: 18px;
}
.name:hover {
    background-color: rgb(175,175,175);
    cursor: pointer;
}

#tree {
    cursor: context-menu;
    width: 100%;
    float: left;
    user-select: none;
    background-color: rgb(225,225,225);
    height: 100%;
}

.desc {
    height: 50%;
    width: 50%;
    background-color: aquamarine;
    float: left;
}
.desc>h1 {
    margin: 0;
}

.tree {
    overflow: hidden;
}

.tree:hover {
    height: unset;
}

.folder {
    width: 25px;
    height: 25px;
    padding-top: 5px;
    padding-bottom: 2px;
    float: left;
    background: rgb(50,50,50);
    text-align: center;
    margin-right: 5px;
    margin-top: 1px;
    color: yellow;
}
.folder:hover {
    cursor: pointer;
}

.treeButton {
    width: 25px;
    height: 25px;
    padding-top: 5px;
    padding-bottom: 2px;
    float: left;
    background: rgb(50,50,50);
    color: rgb(225,225,225);
    text-align: center;
    margin-right: 5px;
    margin-top: -1px;
}
.treeButton:hover {
    background-color: black;
    cursor: pointer;
}

.indent {
    height: 25px;
    width: 25px;
    float: left;
}

.item {
    margin-left: 25px;
}

.closed > .item {
    display: none;
}
.title {
    text-align: center;
    font-family: 'Montserrat', serif;
    color: black;
    letter-spacing: 4px;
    border-bottom: 2px solid black;
    padding-bottom: 25px;
}
.subtitle {
    font-size: 0.6em;
}
